{% extends "blog/base.html" %}

{% block subtitulo %}Detalle del Articulo{% endblock subtitulo %}

{% block contenido %}
<article>
  <section>
<h2 style="text-align: center">Titulo: {{object.titulo}}</h2>
</section>
<br>
<section>
{% if object.imagen.url != Null %}
<p style="text-align:center;"><img src= "{{object.imagen.url}}" style="100px;" /></p>
{% else %}
{% endif %}
</section>
<br>
<section>
<span>
  <h3 style="text-align: center">Subtitulo: {{object.subtitulo}}</h3>
</section>
</span>
<section>
<br>
<p style="text-align:center;">{{object.cuerpo | safe }}</p>
</section>
<br>
<section>
<h6 style="text-align:center;font-style:italic">AUTOR: {{object.autor}} </h6>
</section>
<br>
</article>


<p style="text-align:center;"><a class="btn btn-primary" href="{% url 'listar_articulos' %}">Volver a la lista</a></p>

{% endblock contenido %}